html {
    background-color: #202124;
    color: #fff;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-list li {
    padding-left: 20px;
    cursor: pointer;
}

.nav-right-buttons {
    margin-right: 20px;
}

.sign-in-button {
    background-color: #8ab4f8;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
}

.apps-button {
    cursor: pointer;
    background-image: url("./images/apps.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 200px;
}

main img {
    width: 272px;
    padding-bottom: 20px;
}

.input-container {
    position: relative;
}

.search-bar {
    width: 560px;
    height: 40px;
    border-radius: 22px;
    border: 1px solid#5f6368;
    background-color: transparent;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
}

.search-button {
    position: absolute;
    margin-top: 10px;
    margin-left: 13px;
    left: 0;
    background-image: url("./images/search.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}

.keyboard-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 13px;
    background-image: url("./images/keyboard.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.text-buttons-container {
    display: flex;
    padding-top: 30px;
}

.text-button {
    background-color: #303134;
    border: none;
    color: #fff;
    padding: 11px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.lucky-button {
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #171717;
}

.footer-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-list li {
    padding-left: 20px;
    cursor: pointer;
}

.footer-list li:nth-of-type(1) {
    padding-left: 0;
}
